<a href="https://colab.research.google.com/github/Nargiz-chess/Solar_forecasting/blob/main/Australia_EDA%26preproccessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Mount google drive
from google.colab import drive
drive.mount('/content/drive')

from pandas import read_csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

path = '/content/drive/MyDrive/Master_thesis/Datasets/Australia/2012-2013.csv'

Mounted at /content/drive

In [ ]:
df = read_csv(path, header = 1, index_col = 4) 
df.head()
df.tail()

            Customer  Generator Capacity  Postcode  ...  23:30   0:00  Row Quality
date                                                ...
29/06/2013       300                3.36      2086  ...  0.139  0.171          NaN
29/06/2013       300                3.36      2086  ...  0.000  0.000          NaN
30/06/2013       300                3.36      2086  ...  0.000  2.468          NaN
30/06/2013       300                3.36      2086  ...  0.732  0.297          NaN
30/06/2013       300                3.36      2086  ...  0.000  0.000          NaN

[5 rows x 53 columns]

# Information about columns (data description)

**Consumption Category**

Two letter code each meaning the following:

- GC = General Consumption for electricity supplied all the time (primary tariff, either inclining block or time of use rates), excluding solar generation and controlled load supply
- CL = Controlled Load Consumption (Off peak 1 or 2 tariffs)
- GG = Gross Generation for electricity generated by the solar system with a gross metering configuration, measured separately to household loads


Kilowatt hours (kWh) of electrical energy consumed or generated in the half hour ending at 0:30 (eg. between 0:00 and 0:30). The value is positive regardless of whether it is consumption or generation.

In [ ]:
#remove rows with GC and CL, remains only GG

df.columns
df = df[df['Consumption Category'] == 'GG']
df.head()

#df.info()

           Customer  Generator Capacity  Postcode  ... 23:30  0:00  Row Quality
date                                               ...
1/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
2/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
3/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
4/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
5/07/2012         1                3.78      2076  ...   0.0   0.0          NaN

[5 rows x 53 columns]

In [ ]:
# summing tw half hours and converting 30 min data to 1 h interval data columns

#run it only once!!!

# for col in df.columns:
#   if "0" in col and df.columns.get_loc(col)%2 !=0:
#     df[col] = df.iloc[:,df.columns.get_loc(col)] + df.iloc[:,df.columns.get_loc(col)-1]

# for col in df.columns:
#   if "30" in col:
#     df = df.drop(columns = [col])

df.head()

           Customer  Generator Capacity  Postcode  ... 23:00  0:00  Row Quality
date                                               ...
1/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
2/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
3/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
4/07/2012         1                3.78      2076  ...   0.0   0.0          NaN
5/07/2012         1                3.78      2076  ...   0.0   0.0          NaN

[5 rows x 29 columns]

In [ ]:
print("Unique number of postcodes: ", len(df.Postcode.unique()))
print("Unique number of customers: ", len(df.Customer.unique()))

# df.Customer.unique()
# sorted(df.Postcode.unique())

Unique number of postcodes:  100
Unique number of customers:  300

In [ ]:
df.columns
# remove irrelevant columns 

#run only once

#df = df.drop(columns = ['Generator Capacity', 'Consumption Category', 'Row Quality','Postcode'])

In [ ]:
df.head()

df.groupby("Customer").count()

          1:00  2:00  3:00  4:00  5:00  ...  20:00  21:00  22:00  23:00  0:00
Customer                                ...
1          365   365   365   365   365  ...    365    365    365    365   365
2          284   284   284   284   284  ...    284    284    284    284   284
3          365   365   365   365   365  ...    365    365    365    365   365
4          365   365   365   365   365  ...    365    365    365    365   365
5          365   365   365   365   365  ...    365    365    365    365   365
...        ...   ...   ...   ...   ...  ...    ...    ...    ...    ...   ...
296        365   365   365   365   365  ...    365    365    365    365   365
297        365   365   365   365   365  ...    365    365    365    365   365
298        365   365   365   365   365  ...    365    365    365    365   365
299        365   365   365   365   365  ...    365    365    365    365   365
300        365   365   365   365   365  ...    365    365    365    365   365

[300 rows x 24 columns]

In [ ]:
df.info()
# Converting the index as date
df.index = pd.to_datetime(df.index)

<class 'pandas.core.frame.DataFrame'>
Index: 109419 entries, 1/07/2012 to 30/06/2013
Data columns (total 25 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Customer  109419 non-null  int64
 1   1:00      109419 non-null  float64
 2   2:00      109419 non-null  float64
 3   3:00      109419 non-null  float64
 4   4:00      109419 non-null  float64
 5   5:00      109419 non-null  float64
 6   6:00      109419 non-null  float64
 7   7:00      109419 non-null  float64
 8   8:00      109419 non-null  float64
 9   9:00      109419 non-null  float64
 10  10:00     109419 non-null  float64
 11  11:00     109419 non-null  float64
 12  12:00     109419 non-null  float64
 13  13:00     109419 non-null  float64
 14  14:00     109419 non-null  float64
 15  15:00     109419 non-null  float64
 16  16:00     109419 non-null  float64
 17  17:00     109419 non-null  float64
 18  18:00     109419 non-null  float64
 19  19:00     109419 non-null  float64
 20  20:00     109419 non-null  float64
 21  21:00     109419 non-null  float64
 22  22:00     109419 non-null  float64
 23  23:00     109419 non-null  float64
 24  0:00      109419 non-null  float64
dtypes: float64(24), int64(1)
memory usage: 21.7+ MB

In [ ]:
# checking missing values per customer
# Customer 2 has only 284 days -> missing values
# drop customer 2

days_per_cust = list(df.groupby("Customer").count().iloc[:,0])
print(days_per_cust)

for i in days_per_cust:
  if i !=365:
    print(days_per_cust)

[365, 284, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365]
[365, 284, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365, 365]

In [ ]:
df = df[df['Customer'] !=2]
df.groupby("Customer").count().iloc[:,0]

#299 customers are left

Customer
1      365
3      365
4      365
5      365
6      365
      ...
296    365
297    365
298    365
299    365
300    365
Name: 1:00, Length: 299, dtype: int64

In [ ]:
df.head()

            Customer  1:00  2:00  3:00  4:00  ...  20:00  21:00  22:00  23:00  0:00
date                                          ...
2012-01-07         1   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0   0.0
2012-02-07         1   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0   0.0
2012-03-07         1   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0   0.0
2012-04-07         1   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0   0.0
2012-05-07         1   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0   0.0

[5 rows x 25 columns]

In [ ]:
df = df.drop("Customer", axis=1)

In [ ]:
#bringing 00:00 to the front as weather and other data sourses start from 00:00
cols = df.columns.tolist()
cols = cols[-1:]+cols[:-1]
df=df[cols]
df.head()

            0:00  1:00  2:00  3:00  4:00  ...  19:00  20:00  21:00  22:00  23:00
date                                      ...
2012-01-07   0.0   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0    0.0
2012-02-07   0.0   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0    0.0
2012-03-07   0.0   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0    0.0
2012-04-07   0.0   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0    0.0
2012-05-07   0.0   0.0   0.0   0.0   0.0  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 24 columns]

In [ ]:
data = df.values
data.shape

data = data.reshape(299,24*365)
data.shape

data= data.transpose()
data.shape

#validate = 0.7 
data[10,0]

0.7

In [ ]:
#Save the data in numpy formay
np.savetxt("/content/drive/MyDrive/Master_thesis/Datasets/Australia_numpy.npy", data)

#Data without night hours

In [ ]:
cols2 = df.columns.tolist()
cols2 = cols2[5:23]
df2=df[cols2]
df2.head()

data2 = df2.values
data2 = data2.reshape(299,18*365)
data2.shape

data2= data2.transpose()
data2.shape

df2.head()

#validate = 0.7 
data2[5,0]

0.7

In [ ]:
#Save the data in numpy format
np.savetxt("/content/drive/MyDrive/Master_thesis/Datasets/Australia_numpy_removed_night_hours.npy", data2)