In [175]:
#Mount google drive
from google.colab import drive
drive.mount('/content/drive')

from pandas import read_csv
import pandas as pd
import datetime as dt
import matplotlib
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn import metrics

path1 = '/content/drive/MyDrive/Master_thesis/irradiance.csv'
path2 = '/content/drive/MyDrive/Master_thesis/Gerdata.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [176]:
irradiance = read_csv(path1, header =0, index_col=0) 
irradiance.index = pd.to_datetime(irradiance.index, utc=True)

irradiance.index

DatetimeIndex(['2016-02-01 05:00:00+00:00', '2016-02-01 06:00:00+00:00',
               '2016-02-01 07:00:00+00:00', '2016-02-01 08:00:00+00:00',
               '2016-02-01 09:00:00+00:00', '2016-02-01 10:00:00+00:00',
               '2016-02-01 11:00:00+00:00', '2016-02-01 12:00:00+00:00',
               '2016-02-01 13:00:00+00:00', '2016-02-01 14:00:00+00:00',
               ...
               '2018-01-31 10:00:00+00:00', '2018-01-31 11:00:00+00:00',
               '2018-01-31 12:00:00+00:00', '2018-01-31 13:00:00+00:00',
               '2018-01-31 14:00:00+00:00', '2018-01-31 15:00:00+00:00',
               '2018-01-31 16:00:00+00:00', '2018-01-31 17:00:00+00:00',
               '2018-01-31 18:00:00+00:00', '2018-01-31 19:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='time', length=10965, freq=None)

In [177]:
Gerdata = read_csv(path2, header =0, index_col=0) 

Gerdata.index = pd.to_datetime(Gerdata.index, utc=True)

#run only once (the line below)
#Gerdata.index = pd.to_datetime(Gerdata.index).strftime('%d-%m-%Y %H:%m') 

Gerdata.index

DatetimeIndex(['2016-02-01 05:00:00+00:00', '2016-02-01 06:00:00+00:00',
               '2016-02-01 07:00:00+00:00', '2016-02-01 08:00:00+00:00',
               '2016-02-01 09:00:00+00:00', '2016-02-01 10:00:00+00:00',
               '2016-02-01 11:00:00+00:00', '2016-02-01 12:00:00+00:00',
               '2016-02-01 13:00:00+00:00', '2016-02-01 14:00:00+00:00',
               ...
               '2018-01-31 10:00:00+00:00', '2018-01-31 11:00:00+00:00',
               '2018-01-31 12:00:00+00:00', '2018-01-31 13:00:00+00:00',
               '2018-01-31 14:00:00+00:00', '2018-01-31 15:00:00+00:00',
               '2018-01-31 16:00:00+00:00', '2018-01-31 17:00:00+00:00',
               '2018-01-31 18:00:00+00:00', '2018-01-31 19:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='utc_timestamp', length=10965, freq=None)

In [178]:
irradiance.head(10)
irradiance.info()
irradiance.describe()
type(irradiance)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10965 entries, 2016-02-01 05:00:00+00:00 to 2018-01-31 19:00:00+00:00
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   local_time         10965 non-null  object
 1   radiation_surface  10965 non-null  float64
dtypes: float64(1), object(1)
memory usage: 257.0+ KB

pandas.core.frame.DataFrame

In [179]:
Gerdata.head(10)

Gerdata.info()
Gerdata.describe()

type(Gerdata)

#comments: both datasets have 10965 rows for the same dates and hours. Ready to be merged

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10965 entries, 2016-02-01 05:00:00+00:00 to 2018-01-31 19:00:00+00:00
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cet_cest_timestamp           10965 non-null  object
 1   DE_KN_industrial1_pv_1       9300 non-null   float64
 2   DE_KN_industrial1_pv_2       9300 non-null   float64
 3   DE_KN_industrial2_pv         5995 non-null   float64
 4   DE_KN_industrial3_pv_facade  7350 non-null   float64
 5   DE_KN_industrial3_pv_roof    7350 non-null   float64
 6   DE_KN_residential1_pv        6090 non-null   float64
 7   DE_KN_residential3_pv        10547 non-null  float64
 8   DE_KN_residential4_pv        10965 non-null  float64
 9   DE_KN_residential6_pv        10965 non-null  float64
 10  Berlin_time                  10965 non-null  object
 11  Year                         10965 non-null  int64
 12  Month                        10965 non-null  int64
 13  Season                       10965 non-null  int64
 14  Week                         10965 non-null  int64
 15  Day                          10965 non-null  int64
 16  Year_day                     10965 non-null  int64
 17  Hour                         10965 non-null  int64
dtypes: float64(9), int64(7), object(2)
memory usage: 1.6+ MB

pandas.core.frame.DataFrame

In [180]:
df = Gerdata.merge(irradiance, how="outer", left_index=True, right_index=True)

df.head()

                                 cet_cest_timestamp  ...  radiation_surface
utc_timestamp                                        ...
2016-02-01 05:00:00+00:00  2016-02-01T06:00:00+0100  ...              0.000
2016-02-01 06:00:00+00:00  2016-02-01T07:00:00+0100  ...              0.467
2016-02-01 07:00:00+00:00  2016-02-01T08:00:00+0100  ...             31.309
2016-02-01 08:00:00+00:00  2016-02-01T09:00:00+0100  ...            112.503
2016-02-01 09:00:00+00:00  2016-02-01T10:00:00+0100  ...            208.440

[5 rows x 20 columns]

#Standardize & Normalize

In [181]:

# perform a robust scaler transform of the dataset
# trans = StandardScaler()
# df2 = trans.fit_transform(df)

# scaler = StandardScaler()
# scaler.fit_transform(X_reshaped,[y_reshaped])

# Reahape & split

In [182]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df["radiation_surface"]
y = df["DE_KN_residential6_pv"]

print("Shape of X", X.shape)
print("Shape of y", y.shape)

X_reshaped = X.values.reshape(-1,1) 
print("Shape of X", X_reshaped.shape) 

y_reshaped = y.values.reshape(-1,1)
print("Shape of y", y_reshaped.shape)


X_train, X_test, y_train, y_test = train_test_split( X_reshaped, y_reshaped, test_size=0.3, shuffle = False)

Shape of X (10965,)
Shape of y (10965,)
Shape of X (10965, 1)
Shape of y (10965, 1)

# Linear Regression

In [183]:
from sklearn import metrics
reg = LinearRegression().fit(X_train, y_train)
print("R^2 of Linear Regression on the train set =", reg.score(X_train, y_train))
print("R^2 of Linear Regression on the test set =", reg.score(X_test, y_test))

y_pred = reg.predict(X_test)
print("MAE:", metrics.mean_absolute_error(y_test,y_pred))
print("MSE:", metrics.mean_squared_error(y_test,y_pred))
print("RMSE:", np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

R^2 of Linear Regression on the train set = 0.7280358605649697
R^2 of Linear Regression on the test set = 0.725504289924719
MAE: 0.6978000809834454
MSE: 1.0809348741370413
RMSE: 1.0396801787747236

In [197]:
# for all houses

X = df["radiation_surface"]
X_reshaped = X.values.reshape(-1,1) 

for col in df.columns:
  if "pv" in col:
    y = df[col].fillna(0)
    y_reshaped = y.values.reshape(-1,1)
    X_train, X_test, y_train, y_test = train_test_split( X_reshaped, y_reshaped, test_size=0.3, shuffle = False)
    reg = LinearRegression().fit(X_train, y_train)
    print(col)
    print("R^2 of Linear Regression on the train set =", reg.score(X_train, y_train))
    print("R^2 of Linear Regression on the test set =", reg.score(X_test, y_test))

    y_pred = reg.predict(X_test)
    print("MAE:", metrics.mean_absolute_error(y_test,y_pred))
    print("MSE:", metrics.mean_squared_error(y_test,y_pred))
    print("RMSE:", np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
    print()

DE_KN_industrial1_pv_1
R^2 of Linear Regression on the train set = 0.7303477767277216
R^2 of Linear Regression on the test set = 0.7106249670514564
MAE: 0.44751640161095224
MSE: 0.4293053889661769
RMSE: 0.655214002419192

DE_KN_industrial1_pv_2
R^2 of Linear Regression on the train set = 0.759647910756405
R^2 of Linear Regression on the test set = 0.6822229775706473
MAE: 0.3459183774719272
MSE: 0.2510341249015148
RMSE: 0.5010330576933171

DE_KN_industrial2_pv
R^2 of Linear Regression on the train set = 0.07050692582651008
R^2 of Linear Regression on the test set = 0.0
MAE: 2.16342384696102
MSE: 8.880747843647935
RMSE: 2.980058362456671

DE_KN_industrial3_pv_facade
R^2 of Linear Regression on the train set = 0.5270524898585706
R^2 of Linear Regression on the test set = 0.0
MAE: 0.8440866222190125
MSE: 1.5651537013021593
RMSE: 1.2510610302068237

DE_KN_industrial3_pv_roof
R^2 of Linear Regression on the train set = 0.6658662727307901
R^2 of Linear Regression on the test set = 0.0
MAE: 1.9731645778992284
MSE: 8.623311614774126
RMSE: 2.9365475672588937

DE_KN_residential1_pv
R^2 of Linear Regression on the train set = 0.4015284515802606
R^2 of Linear Regression on the test set = 0.0
MAE: 1.0424772727165281
MSE: 2.407263347848166
RMSE: 1.551535802954017

DE_KN_residential3_pv
R^2 of Linear Regression on the train set = 0.817598193380197
R^2 of Linear Regression on the test set = 0.8454458775501371
MAE: 0.23937809498144036
MSE: 0.13258927707783416
RMSE: 0.3641281053116254

DE_KN_residential4_pv
R^2 of Linear Regression on the train set = 0.7746773393731946
R^2 of Linear Regression on the test set = 0.7300244893943454
MAE: 0.7584264068624337
MSE: 1.2747103805530713
RMSE: 1.1290307261332932

DE_KN_residential6_pv
R^2 of Linear Regression on the train set = 0.7280358605649697
R^2 of Linear Regression on the test set = 0.725504289924719
MAE: 0.6978000809834454
MSE: 1.0809348741370413
RMSE: 1.0396801787747236

#Ridge regression

In [184]:
from sklearn.linear_model import Ridge

X = df["radiation_surface"]
X_reshaped = X.values.reshape(-1,1) 

y = df['DE_KN_residential6_pv']fillna(0)
y_reshaped = y.values.reshape(-1,1)

StandardScaler()
ridge = Ridge(alpha=1, fit_intercept=True)
ridge.fit(X_train, y_train)

print("R^2 of Linear Regression on the train set =", ridge.score(X_train, y_train))
print("R^2 of Linear Regression on the test set =", ridge.score(X_test, y_test))

R^2 of Linear Regression on the train set = 0.7280358605649696
R^2 of Linear Regression on the test set = 0.7255042899647246

#Gradient Boosting Regressor

In [185]:
from sklearn.ensemble import GradientBoostingRegressor

GBR = GradientBoostingRegressor(random_state=None, learning_rate=0.09).fit(X_train, y_train)

print("R^2 of Gradient Boosting Regressor on the training set =",GBR.score(X_train, y_train))
print("R^2 of Gradient Boosting Regressor on the test set =",GBR.score(X_test, y_test))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

R^2 of Gradient Boosting Regressor on the training set = 0.7478343074173941
R^2 of Gradient Boosting Regressor on the test set = 0.7210955866286123